body {
  background: #575757;
  font-color: #333333;
  width: 960px; }
  body h1 {
    font-color: red; }
  body h2 {
    font-family: 'Helvetica';
    color: red; }
  body .rojo {
    background: green;
    color: red; }
  body .verde {
    background: red;
    color: green; }
