<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
	<h1> {{ title }} Lista de opciones </h1>

	{% if  items %}
		<ul>
			{% for item in items  %}
			<li><a href="{%  url 'detalles-item'   item.id %}" /> {{ item.name|capfirst }}</a> </li> 
			{% endfor %}
		</ul>
	{% endif %}


	{% if categorias %}
		<ul>
			{% for categoria  in categorias  %}
			<li><a href="{% url 'detalles-categoria' categoria.slug %} " /> {{ categoria.name|capfirst }}</a> </li> 
			{% endfor %}
		</ul>
	{% endif %}



</body>
<html>